//definition de la carte graphique
$primary : #9B6507;
$secondary: #F8B941;
$info: #492200;
$light:#FAF4ED;
$font-family-sans-serif:"Roboto" sans-serif !default;
$font-family-serif:"Risque" serif !default ;




// importation de bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

